@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
  font-family: AstroSpace;
  src: url(/fonts/AstroSpace.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #212c3b;
}
/* HEADER */
header {
  background-color: #141b25;
}

.main-nav {
  height: 90px;
}

.logo {
  color: white;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "AstroSpace", sans-serif;
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
}

.navlinks li {
  display: inline-block;
  margin: 0px 20px;
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  text-transform: uppercase;
}

.navlinks li a:hover {
  color: #7ebcb9;
  padding-bottom: 7px;
  border-bottom: 2px solid #7ebcb9;
}

li a.contact {
  background-color: #00adb5;
  padding: 9px 20px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  border-bottom: none;
}

li a.contact:hover {
  background-color: #047e85;
  color: white;
  border-bottom: none;
}

#check {
  display: none;
}

.menu-btn {
  font-size: 25px;
  color: white;
  float: right;
  line-height: 90px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

@media (max-width: 800px) {
  .navlinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: all 0.5s;
    right: -100%;
    background: #222831;
  }

  .navlinks li {
    display: block;
  }

  .navlinks li a {
    font-size: 20px;
  }

  .navlinks li a:hover {
    border-bottom: none;
  }

  .menu-btn {
    display: block;
  }

  #check:checked ~ .navlinks {
    right: 0;
  }
}

@media (max-width: 360px) {
  .logo {
    margin-left: 10px;
    font-size: 25px;
  }

  .menu-btn {
    margin-right: 10px;
    font-size: 25px;
  }

  .menu-btn:focus {
    color: blue;
  }
}

 /* MAIN INDEX.HTML */

.main {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: white;
 width: 100%;
 height: 50vh;
 margin-top: 5rem;
 background-color: #141b25;
}

.contenedor-p {
 color: white;
 margin: 2rem;
 padding: 1rem;
 width: 50%;
 flex-wrap: wrap;
}

.contenedor-img {
    max-width: 100%;
}
  
@media (max-width: 1900px) {
               .img {
                   width: 400px;
               }
            }

@media (max-width: 1900px) {
    body {
        background-color: white;
    }
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        
        width: 100%;
        height: 120vh;
        margin-top: 5rem;
        background-color: white;
        flex-wrap: wrap;
       }
       .contenedor-p {
        color: black;
        border: 3px solid black;
       }
       .p-by {
           margin-left: 2rem;
           font-size: 0.8rem;
       }
       .img {
           width: 500px;
           
       }
    }       
            @media (max-width: 450px) {
                body {
                    background: white;
                }
        .main {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 130vh;
            margin-top: 5rem;
            background-color: white;
            flex-wrap: wrap;
           }
           .contenedor-p {
            color: black;
           }
           .img {
               max-width: 300px;
           }
        }

         /* FOOTER */

        .main-nav-footer {
            width: 100%;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 6rem;
            padding-top: 6rem;
        }

        .navlinks-footer {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .navlinks-footer li {
            display: block;
          }
        
          .navlinks-footer li a {
            font-size: 1.5rem;
            text-decoration: none;
            color: white;
            margin-left: 2rem;
          }
        
          .navlinks-footer li a:hover {
            border-bottom: none;
          }
        
          .menu-btn-footer {
            display: block;
          }

          .logo-footer {
            color: white;
            line-height: 90px;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            font-family: "AstroSpace", sans-serif;
            font-size: 1.5rem;
          }

          .navlinks-footer li a:hover {
            color: #7ebcb9;
            padding-bottom: 7px;
            border-bottom: 2px solid #7ebcb9;
          }

          @media (max-width: 450px) {
            .navlinks-footer li a {
                color: black;
                font-size: 0.9rem;
            }
            .logo-footer {
                color: black;
            }
          }
          @media (max-width: 1900px) {
            .navlinks-footer li a {
                color: black;
            }
            .logo-footer {
                color: black;
            }
          }

          /* IMAGENES */

          