

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

@font-face {
  font-family: AstroSpace;
  src: url(/fonts/AstroSpace.ttf);
}

* {
    box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  
}
/* TITULO */

.contenedor--titulo{
  width: 100%;
  display: flex;
  justify-content: center;
}
.contenedor-titulo {
  width: 20%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  color: teal;
  border: 2px solid black;
}
@media (max-width: 1600px){
  .contenedor-titulo {
    border: none;
    width: 60%;
  }
}
@media (max-width: 500px) {
  .contenedor-titulo {
    font-size: 10px;
  }
}


/* HEADER */
header {
  background-color: #141b25;
}

.main-nav {
  height: 90px;
}

.logo {
  color: white;
  line-height: 90px;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  margin-left: 30px;
  font-family: "AstroSpace", sans-serif;
}

.navlinks {
  list-style: none;
  float: right;
  line-height: 90px;
  margin: 0;
  padding: 0;
}

.navlinks li {
  display: inline-block;
  margin: 0px 20px;
}

.navlinks li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s linear 0s;
  text-transform: uppercase;
}

.navlinks li a:hover {
  color: #7ebcb9;
  padding-bottom: 7px;
  border-bottom: 2px solid #7ebcb9;
}

li a.contact {
  background-color: #00adb5;
  padding: 9px 20px;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
  border-bottom: none;
}

li a.contact:hover {
  background-color: #047e85;
  color: white;
  border-bottom: none;
}

#check {
  display: none;
}

.menu-btn {
  font-size: 25px;
  color: white;
  float: right;
  line-height: 90px;
  margin-right: 40px;
  display: none;
  cursor: pointer;
}

@media (max-width: 900px) {
  .navlinks {
    position: fixed;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: all 0.5s;
    right: -100%;
    background: #0c0c0c;
  }

  .navlinks li {
    display: block;
  }

  .navlinks li a {
    font-size: 20px;
  }

  .navlinks li a:hover {
    border-bottom: none;
  }

  .menu-btn {
    display: block;
    
  }

  #check:checked ~ .navlinks {
    right: 0;
  }
}

@media (max-width: 400px) {
  .logo {
    margin-left: 10px;
    font-size: 25px;
  }

  .menu-btn {
    margin-right: 10px;
    font-size: 25px;
  }

  .menu-btn:focus {
    color: blue;
  }
}

 /* MAIN INDEX.HTML */

.main {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: white;
 width: 100%;
 height: 50vh;
 margin-top: 5rem;
 background-color: #141b25;
}

.contenedor-p {
 color: white;
 margin: 2rem;
 padding: 1rem;
 width: 50%;
 flex-wrap: wrap;
}

.contenedor-texto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.contenedor-img {
    max-width: 100%;
}


@media (max-width: 1500px) {
  .logo-footer {
    color: black;
  }
    body {
        background-color: white;
    }
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        background-color: white;
        flex-wrap: wrap;
       }
       .contenedor-p {
        color: black;
        border: 3px solid black;
       }
       .p-by {
           margin-left: 2rem;
           font-size: 0.8rem;
       }
    }       
            @media (max-width: 450px) {
                body {
                    background: white;
                }
        .main {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 130vh;
            margin-top: 5rem;
            background-color: white;
            flex-wrap: wrap;
           }
           .contenedor-p {
            color: black;
            width: 150%;
           }
           .img {
               max-width: 350px;
               margin-bottom: none;
           }
        }

         /* FOOTER */

        .main-nav-footer {
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 6rem;
            padding-top: 6rem;
        }

        @media (max-width: 700px) and (min-width:600px) {
          .main-nav-footer{
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 70rem;
            padding-top: 6rem;
        }
        }
        /* FOOTER PRINCIPAL Y CONTACTO */
        @media (max-width: 450px) {
          .main-nav-footer{
           width: 100%;
           height: 200px;
           display: flex;
           justify-content: center;
           align-items: center;
           margin-top: 6rem;
           padding-top: 6rem;
       }
       }

        /* */

        
        /* FOOTER PROYECTOS */
        @media (max-width: 500px) {
           .main-nav-footer-proyectos{
            width: 100%;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 90rem;
            padding-top: 6rem;
        }
        }
        @media (min-width: 750px) {
          .main-nav-footer-proyectos{
           width: 100%;
           height: 200px;
           display: flex;
           justify-content: center;
           align-items: center;
           margin-top: 6rem;
           padding-top: 6rem;
       }
       }
       /**/

        .navlinks-footer {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .navlinks-footer li {
            display: block;
          }
        
          .navlinks-footer li a {
            font-size: 1.5rem;
            text-decoration: none;
            color: black;
            margin-left: 2rem;
          }
        
          .navlinks-footer li a:hover {
            border-bottom: none;
          }
        
          .menu-btn-footer {
            display: block;
          }

          .logo-footer {
            color: black;
            line-height: 90px;
            font-size: 30px;
            font-weight: bold;
            text-decoration: none;
            font-family: "AstroSpace", sans-serif;
            font-size: 1.5rem;
            justify-content: center;
          }

          .navlinks-footer li a:hover {
            color: #7ebcb9;
            padding-bottom: 7px;
            border-bottom: 2px solid #7ebcb9;
          }


          @media (max-width: 1500px) {
            .main-nav-footer {
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: white;
          }
            .navlinks-footer li a {
                color: black;
                font-size: 0.9rem;
            }
            .logo-footer {
                color: black;
            }
          }
          

          /* SECTIONS SOBRE MI */

          .section {
            color: black;
            margin-top: 2rem;
          }
           
           .section-titulo {
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
           }
           .section-titulo-:hover {
             color: #00adb5;
             border-bottom: 2px solid #00adb5;
           }

          .section-lista {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2rem;
            padding: 2rem;
          }

          .section-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 2px solid black;
            margin: 0 2rem;
            padding: 2rem;
            box-shadow: 7px -9px 22px 3px rgba(0,0,0,0.57);
            -webkit-box-shadow: 7px -9px 22px 3px rgba(0,0,0,0.57);
            -moz-box-shadow: 7px -9px 22px 3px rgba(0,0,0,0.57);
          }

          .section-div i {
            font-size: 2.5rem;
          }
          .section-div i:hover {
            font-size: 3rem;
            color: #047e85 ;
          }

          .section-p {
            padding: 0 2rem;
          }

          .section-p:hover {
            font-size: 2rem;
            color: #00adb5;
          }

          @media (max-width: 1850px) {
            
            .section {
              color: white;
              background-color: white;
            }
            .section-titulo {
              color: white;
            }
          }
          @media (max-width: 1800px) {
            .section {
              color: black;
            }
            .section-titulo {
              color: black;
            }
          }

          @media (max-width: 768px) {
            .section {
              color: black;
            }
            .section-div {
              padding-bottom: 2rem;
              padding-right: 2rem;
            }
            

          }

          
          @media (max-width: 900px) {
            .section {
              padding-top: 3rem;
            }
            .section-lista {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-wrap: wrap;
              padding: 2rem;
            }
            .section-div {
              padding-bottom: 2rem;
            }
            
            .section-titulo {
             padding: 2rem;
            }
            .section-p {
              padding: none;
            }
          }
          @media (max-width:1500px) {
            .section-div {
              height: 350px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-bottom: 2rem;
              padding: 1rem 0;
            }
          
            .section-div i {
              font-size: 2rem;
              padding-top: 1rem;
            }
            .section-div h3 {
              font-size: 0.7rem;
              margin: 1rem 0 0 0;
            }
            .section-p {
              font-size: 10px;
            }
            .section-p:hover {
              font-size: 15px;
            }
           
          }

          @media (max-width:450px) {
            .section-p:hover {
              font-size: 10px;
            }
            
          }

          /* BUTTON */

          .section-btn {
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .btn-sobremi {
            width: 5rem;
            height: 5rem;
            border-radius: 7%;
            margin-right: 2rem;
            box-shadow: 2px 2px 2px black;
            cursor: pointer;
            font-size: 2rem;
            color: black;
            border-radius: 50%;
          }
          .btn-sobremi i {
            font-size: 3rem;
          }

          .btn-sobremi:hover {
            background-color: black;
            color: white;
            transform: rotate(180deg);
            border-radius: 50%;
          } 
          .btn-texto {
            transform: rotate(180deg);
          }

          /* INFO ¿QUE ES EL CV */

          .section-infocv {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 2rem;
            padding: 5rem 20rem 0 20rem;
            color: black;
          }

          

          @media (max-width: 450px) {
            .section-infocv {
              color: black;
              padding: 5rem;
            }
            
          }

          @media (max-width: 1500px) {
            .section-infocv {
              color: black;
              padding: 2rem;
            }
            
          }

          @media (min-width: 400px) and (max-width: 1000px)  {
            .section-infocv {
              color: black;
              margin-top: 5rem;
              padding-top: 20rem;
            }
            
          }

          @media (min-width: 1500px)  {
            .section-infocv {
              color: black;
              margin
            }
            
          }
          
          /* PORTFOLIO */

          .main-proyectos {
            
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: white;
              width: 100%;
              height: 100vh;
              margin-top: 5rem;
              background-color: #141b25;
             }
             

          .contenedor--proyectos {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            color: white;
            margin-top: 2rem;
          }

          .contenedor-proyectos-img {
            display: flex;
            margin: 0;
            padding: 0;
          }

          .proyecto {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 2rem;
            transition: 2s;
          }
          .proyecto h3:hover {
            color: #047e85;
            border-bottom: 1px solid #047e85;
          }
          .btn-proyecto {
            width: 80%;
            height: 30px;
            margin-top: 1.5rem;
            letter-spacing: 0.1rem;
            color: white;
            background-color: transparent;
            border: 2px solid white;
            cursor: pointer;
          }
          .btn-proyecto:hover {
            width: 85%;
            height: 35px;
          }
          
          .btn-proyecto a {
            color: inherit;
            text-decoration: none;
          }
          
          .contenedor-proyectos-texto {
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             padding: 5rem;
          }
          
         

          @media (max-width: 1600px) {
            .main-proyectos {
                background-color: white;
                flex-wrap: wrap;
               }
               .contenedor--proyectos {
                 color: black;
               }
               .contenedor--proyectos p {
                 padding: 3rem;
                 
               }
               .contenedor-proyectos-img {
                 width: 70%;
                 flex-wrap: wrap;
                 border-bottom: 2px solid black;
                 border-top: 2px solid black;
                 
               }
               .btn-proyecto {       
                color: black;             
                border: 2px solid black;
              }
              .btn-proyecto:hover {
               color: #00adb5;
               border: 2px solid #00adb5;
              }
          .contenedor-proyectos-texto {
            width: 100%;
                padding:  1rem 0;
              }
              .contenedor-proyectos-texto h3 {
                margin:  1rem 3rem ;
              }
              .contenedor-proyectos-texto p {
                margin:  0  ;
              }
              .contenedor--proyectos h2:hover {
                color: #00adb5;
                border-top: 1px solid #00adb5;
                border-bottom: 1px solid #00adb5;
                font-size: 2rem;
              }
            }

            /* CONTACTO */
            .main-contacto {
              display: flex;
              justify-content: center;
              align-items: center;
              
            }

            .contenedor-contacto {
              width: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 2rem ;
              background-color: #00adb5;
              box-shadow: 60px -16px black;
            }
            .contenedor-contacto-titulo{
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 2rem;
            }
            .contenedor-contacto-img {
              font-size: 30rem;
              margin-left: 1rem;
              padding: 2rem;

            }

            .contenedor-contacto-lista {
              color: black;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin-right: 2rem;
            }
            
            .contenedor-contacto-lista h3 {
              font-size: 2rem;
              border-bottom: 2px solid black ;
              border-top: 2px solid black;
            }

            .contenedor-contacto-lista li {
              list-style: none;
              font-size: 1.5rem;
              margin-top: 1rem;
            }

            @media (max-width: 1800px){
              .contenedor-contacto {
                width: 100%;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: none;
              }
              .contenedor-contacto-img {
                font-size: 15rem;
              }
              .contenedor-contacto-lista {
                border-bottom: 2px solid black;
              }
              
            }

            

          

          